


  

         
<ion-view view-title="menusifu 餐厅">
  

  <ion-content class="padding" ion-sticky>
  
  <div class="card list" style="border:solid #ccc 1px;margin-top:-5px;" >
    <ion-item class="item-divider" ng-click="upload()"> 照相分享。。。。有送。。。。。。。
 
            <i class="icon ion-share" style="position:absolute;right:10px;" > Share</i>
            
<!--  <div class="item" href="#" style="position:absolute;left:4px;font-size:12px;line-height:15px;border:0px;">
         照相分享。。。。有送。。。。。。。
          </div><a class="item" style="line-height:15px;right:0;position:absolute" ng-click="upload()">
          <a class="item" style="line-height:15px;right:0;position:absolute" ng-click="upload()">
            <i class="icon ion-share"></i>
            Share
          </a> -->

  </ion-item>
  
  <div class="item item-avatar" style="padding:3px;">
    <h2 style="border-bottom:solid #ccc 1px;height:35px;line-height:35px;" class="ion-ios-telephone">&nbsp;&nbsp;电话：366443131</h2>
    <p class="ion-ios-location" style="height:35px;line-height:35px;">&nbsp;&nbsp;Address:108-37 43 ave ,corona 11308</p>
  </div>
  <input type="file" id="imgUpload" style="display:none"/>
  <div class="item item-body" style="padding:2px;">
    
    <div class="ion-plus-circled" ng-click="previewOpen()" style="padding:20px;color:#fff;font-size:30px;position:absolute;right:0px;top:0px;"></div>
   
    <img id="preview" class="full-image" src="http://m.menusifu.com/autoInfo/demo001/10hunanchunjuan.jpg" >
    <p>
      About:
     This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>



</div>
  </ion-content>
</ion-view>
