<ion-view view-title="{{appData.title}}">
   <ion-nav-bar class="bar-stable">
     <ion-nav-buttons side="right">
      
       <label for="submit-form" class="customerButton purple">Save</label>&nbsp;&nbsp;
      <button class="customerButton purple" ng-click="logout()">Logout</button>
</ion-nav-buttons>
</ion-nav-bar>
 <ion-content>

  <fieldset class="clo100">
                 <legend class="wa b0 txtc"> 
          <img src="{{ME.path}}{{appData.store.logo?appData.store.logo:'defalut.jpg'}}"  ng-click="uploadPicture('logoPicture')"  onError="defaultLogo()"  class="logo" /></legend>
                
                <div class="formcontainer" style="margin-top: -10px">
            <form enctype="multipart/form-data" method="post" name="navsForm" ng-submit="saveStore()" >
                <input type="file" name="picture" id="logoPicture" style="display:none" onchange="angular.element(this).scope().showPreview(this)"/>
                <input type="file" name="picture" id="gallery" style="display:none" onchange="angular.element(this).scope().showMorePreview(this)"/>
                <input type="file" name="video" id="video" style="display:none" onchange="angular.element(this).scope().showMoreVideo(this)"/>
                <input type="submit" class="dsn" id="submit-form" value="submit"/>
                
                <div class="content">
                 <span class="clo88 txtr"></span>
                 <input  placeholder="Tax" title="Tax" type="Number" ng-model="appData.store.tax" step="0.001" class="clo10 required-b" required/>
                 <input  placeholder="Store Name" title="Store Name" type="text" ng-model="appData.store.name" class="clo48 required-b" required/>
                 <input  placeholder="phoneNum1" title="phoneNum1" type="text" ng-model="appData.store.phoneNum1" class="clo23 required-b" required/>
                 <input  placeholder="phoneNum2" title="phoneNum2" type="text" ng-model="appData.store.phoneNum2" class="clo23" />

                 <input  placeholder="webSite" title="webSite" type="text" ng-model="appData.store.webSite" class="clo48" />
                 <input  placeholder="Fax" title="Fax" type="Number" ng-model="appData.store.fax" class="clo23" />
                 <input  placeholder="Email" title="Email" type="text" ng-model="appData.store.email" class="clo23" />
                 

                 <input  placeholder="Address" title="Address" type="text" ng-model="appData.store.addressInfo.address" class="clo48" />
                 <input  placeholder="State" title="State" type="text" ng-model="appData.store.addressInfo.state" class="clo16" />
                 <input  placeholder="City" title="City" type="text" ng-model="appData.store.addressInfo.city" class="clo16" />
                 <input  placeholder="Zipcode" title="Zipcode" type="text" ng-model="appData.store.addressInfo.zipcode" class="clo16" />

                 <fieldset class="clo100 psr">
                      <!-- <select  ng-model="appData.store.model" class="psa pl clo10" style="top:25px;left:10px;">
                       <option ng-repeat="item in ['m1','m2']"  value="m1">{{item}}</option>
                      </select> -->
                 <legend class="wa b0 txtc"><b>Gallery</b></legend>
                  <div class="flexTable">
                  <div ng-repeat="item in appData.store.gallerys" class="item-1 psr"
                    style="position:relative;background: url('{{ME.path}}{{item.picture}}');background-size: cover;background-repeat: no-repeat;" >
                     <i class="fa fa-close" ng-click="delPicture($index)"></i>
                     <input class="psa pl clo100" style="bottom:-25px;line-height:30px;height:30px" ng-model="item.title"/>
                    </div>
                       <div  class="item-1" style="flex:0 1 120px;text-align: center;height:200px;font-size:100px;line-height:2" ng-click="uploadPicture('gallery')" >+</div>
                  </div>
                 </fieldset>

                       <fieldset class="clo100 psr">
                      <!-- <select  ng-model="appData.store.model" class="psa pl clo10" style="top:25px;left:10px;">
                       <option ng-repeat="item in ['m1','m2']"  value="m1">{{item}}</option>
                      </select> -->
                 <legend class="wa b0 txtc"><b>Video</b></legend>
                  <div class="flexTable">
                    <div id="ox"></div>
                       <div  class="item-1" style="flex:0 1 120px;text-align: center;height:200px;font-size:100px;line-height:2" ng-click="uploadPicture('video')" >+</div>
                  </div>
                 </fieldset>
               <!--    <fieldset class="clo100 psr">
                   <legend class="wa b0 txtc"><b>video</b></legend>
                    <div class="flexTable">
                      <div id="ox"/>
  dd
                        <div  class="item-1" style="flex:0 1 120px;text-align: center;height:200px;font-size:100px;line-height:2" ng-click="uploadVideo('video')" >+</div>
                    </div>
                   </fieldset> -->
                 </div>
              </form>
        </div>
</fieldset>
<!-- 
<video width="400" controls>
  <source src="mov_bbb.mp4" type="video/mp4">
  <source src="mov_bbb.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>
<div class="formcontainer">
       <div class="icon_wrapper" ng-click="uploadPicture('logo')" >
            <img src="{{ME.path}}{{appData.store.logo?appData.store.logo:'defalut.jpg'}}" id="logoSrc"   onError="defaultLogo()"  class="logo" />
        </div>
  
  


<form enctype="multipart/form-data" method="post" name="storeForm" ng-submit="storeUpdate()" >

             <div style="display:flex; justify-content: space-between;flex-flow:row wrap">
                 <input type="file" name="logo" id="logo" ng-model="files" style="display:none" onchange="angular.element(this).scope().showPreview(this)"/>  
                 <input  placeholder="logo" type="text" id="logoValue" style="display:none"  ng-model="appData.store.logo"  style="width:48%; border-bottom:solid red 2px;" />
                 <input  placeholder="Stroe Name" type="text" ng-model="appData.store.name" style="width:48%; border-bottom:solid red 2px;" required/>
                 <input  placeholder="tax" type="number" ng-model="appData.store.tax"    style="width:48%; border-bottom:solid red 2px;" step="0.001" required/>
                 <input  placeholder="Webside" type="text" ng-model="appData.store.webSite"   style="width:100%"/> 
               

               <input type="text" placeholder="Phone Num1"  class="clo23"   ng-model="appData.store.phoneNum1"/> 
               <input type="text"  placeholder="Phone Num2"  class="clo23" ng-model="appData.store.phoneNum2"/>  
               <input type="text" placeholder="Email"  class="clo23"   ng-model="appData.store.email"/> 
               <input type="text" placeholder="Fax"  class="clo23"  ng-model="appData.store.fax"/> 
               <input type="text"  class="clo32" placeholder="state"    ng-model="appData.store.addressInfo.state"/>  
               <input type="text" class="clo32" placeholder="city"   ng-model="appData.store.addressInfo.city"/> 
               <input type="text"  class="clo32" placeholder="zipcode"  ng-model="appData.store.addressInfo.zipcode"/> 
                
                <input type="text"   class="clo70"  placeholder="address"   ng-model="appData.store.addressInfo.address"/>  
                <input type="text"  class="clo28"   placeholder="coordinates"   ng-model="appData.store.addressInfo.location.coordinates" ng-focus="getCoordinates()"/>  
               
               <input type="text"   placeholder="open Time"   ng-model="appData.store.openTime"/>  
                 
               
             </div> -->

<!--  <input type="file" name="picture" id="picture" ng-model="files" style="display:none" onchange="angular.element(this).scope().showMorePreview(this)"/>
 <div style="width:100%;border-bottom:solid green 2px;text-align: right;"><span style="background:green;color:#fff;padding:3px 5px;border-radius:5px 5px 0 0">Albums</span></div>


<div style="position:relative;display:inline-block;width:24%;left:2%;margin:10px 0;" ng-repeat="item in appData.store.pictures">
 <img src="{{ME.path}}{{item.name}}"   style="width:98%;height:200px"  /> <br/>
 <input style="width:98%" />
 <div style="position: absolute;top:10px;right:10px" ng-click="del(item._id)" >del</div></div>
  

 <br/>
 <div style="width:100%;border-bottom:solid green 2px;text-align: right;"><span style="background:green;color:#fff;padding:3px 5px;border-radius:5px 5px 0 0">Vedio</span></div>
 -->

<!-- 
<video ng-src="{{ item.path | trustUrl }}" controls ng-repeat="item in appData.store.videos" />

 <div style="position: absolute;top:10px;right:10px" ng-click="del(item._id)" >del</div></div>
   -->



<!--  
 <input type="submit" value="Save" id="form_button" style="position: absolute;right:10px;top:10px" />
  </form>
</div>

  
   
  

 -->
   






  

</ion-content>
</ion-view>
