<ion-view view-title="Item">
   <ion-header-bar>
             <h1 class = "title">Items</h1>
    <div class="buttons">
    <button class = "button icon icon-right" ng-click="openMenu()">checkMenu</button>&nbsp;&nbsp;
  <button ng-click="openNavs()">New</button>
</div>
</ion-header-bar>
  
  <ion-content>


  <div class="list" ng-repeat="item in appData.itemGroups">
     <div class="item item-divider">
       {{item.name}}
    </div>
    <div class="item item-text-wrap" ng-repeat="itemSec in item.items"  ng-click="openItem('{{itemSec._id}}')">
   </div>
  </div>
  </ion-content>
</ion-view>