<ion-view view-title="Item">
    <ion-header-bar>
        <h1 class = "title">NAVS</h1>
        <div class="buttons">
          <!--   <button class = "button icon icon-right" ng-click="test()">checkMenu</button>&nbsp;&nbsp; -->
           <!--  <button ng-click="openNavs()">New</button> -->

            <button ng-click="openNavs()" class="customerButton purple">New</button>
        </div>

    </ion-header-bar>
    <ion-content>
   <ol class="wtree">
        <li ng-repeat="item in navs.lists">
          <span class="clearfix">
            <div class="alignleft" ng-click="openNavs('{{item._id}}')">{{item.name}}</div>
            <div class="alignright fa fa-2x fa-plus-circle fa-fw" ng-click="openSubNavs('{{item._id}}')"></div>
          </span>
                <ol>
                    <li  ng-repeat="itemSec in item.children">
                        <span class="clearfix">
                            <div class="alignleft" ng-click="openSubNavs('','{{itemSec._id}}')">{{itemSec.name}}</div>
                            <div class="alignright fa fa-2x fa-plus-square fa-fw" ng-click="openSubNavs('{{itemSec._id}}')"></div>
                        </span>
                        <ol>
                            <li ng-repeat="itemTh in itemSec.children">
                            <span class="clearfix">
                              <div class="alignleft" ng-click="openSubNavs('','{{itemTh._id}}')">{{itemTh.name}}</div>
                            <div class="alignright fa fa-2x fa-plus-square fa-fw" ng-click="openSubNavs('{{itemTh._id}}')"></div>
                            </span>
                            </li>
                          
                         
                        </ol>
                    </li>
                   
                   
                </ol>
        </li>
     
    </ol>


  
    </ion-content>
</ion-view>



<script id="modalNavs.html" type="text/ng-template">
   <ion-view class="modal80">
      <ion-header-bar class="bar bar-header bar-dark">
         <h1 class="title">Navs</h1>
          <div class="buttons">
             <label for="submit-form" class="customerButton midnight">Save</label>&nbsp;&nbsp;
             <button style="font-size:2em;color:#ffcd33" class="button button-clear button-primary ion-close" ng-click="closeNavs()"></button>
         </div>
     </ion-header-bar>
     <ion-content>
        <div class="formcontainer">
            <form enctype="multipart/form-data" method="post" name="navsForm" ng-submit="saveNavs()" >
                <input type="file" name="picture" id="navsPicture" style="display:none" onchange="angular.element(this).scope().showPreview(this)"/>
                <input type="submit" class="dsn" id="submit-form" value="submit"/>
                <div class="content">
 
                 <input  placeholder="Name" title="Name" type="text" ng-model="navs.nav.name" class="clo48 required-b" required/>
                 <input  placeholder="Order" title="Order" type="text" ng-model="navs.nav.order" class="clo23 required-b" required/>
                 <input  placeholder="Model" title="Model" type="text" ng-model="navs.nav.model" class="clo23 required-b" required/>
                 <fieldset class="clo100">
                 <legend class="wa b0 tac">Gallery</legend>
                  <div class="flexTable">
                  <div ng-repeat="item in navs.nav.gallerys" class="item-1 psr"
                    style="position:relative;background: url('{{ME.path}}{{item.name}}');background-size: cover;background-repeat: no-repeat;" >
                     <i class="fa fa-close" ng-click="delPicture($index)"></i>
                     <input class="psa pl clo100" style="bottom:-25px;" ng-model="item.title"/>
                    </div>

                    <div  class="item-1" ng-click="uploadPicture('navsPicture')" ><h1 class="clo100">+</h1></div>
                  </div>
                 </fieldset>
                 </div>
              </form>
        </div>
     </ion-content>
   </ion-view>
</script>

<script id="modalSubNavs.html" type="text/ng-template">
   <ion-view class="modal40">
      <ion-header-bar class="bar bar-header bar-dark">
         <h1 class="title">Navs</h1>
          <div class="buttons">
             <label for="submit-form" class="customerButton midnight">Save</label>&nbsp;&nbsp;
             <button style="font-size:2em;color:#ffcd33" class="button button-clear button-primary ion-close" ng-click="closeSubNavs()"></button>
         </div>
     </ion-header-bar>
     <ion-content>
        <div class="formcontainer">
            <form enctype="multipart/form-data" method="post" name="navsForm" ng-submit="saveNavs()" >
                <input type="file" name="picture" id="navsPicture" style="display:none" onchange="angular.element(this).scope().showPreview(this)"/>
                <input type="submit" class="dsn" id="submit-form" value="submit"/>
                <div class="content">
 
                 <input  placeholder="Name" title="Name" type="text" ng-model="navs.nav.name" class="clo48 required-b" required/>
                 <input  placeholder="Order" title="Order" type="text" ng-model="navs.nav.order" class="clo23 required-b" required/>
                 <input  placeholder="Model" title="Model" type="text" ng-model="navs.nav.model" class="clo23 required-b" required/>
              </div>
              </form>
        </div>
     </ion-content>
   </ion-view>
</script>
