<ion-view view-title="Cloud Menu Background"  hide-back-button="true">
  <ion-content>
     <video id="video" style="width:100%;height:100%">
      <source id="mp4"  type="video/mp4">
       
     </video>
      
     <div  ng-class="{'content':true,'mark':mark,'mark0':hoverIndex==0,'mark1':hoverIndex==1,'mark2':hoverIndex==2,'mark3':hoverIndex==3,'mark4':hoverIndex==4}">
      <div ng-class="{'logo':true,'logoHover':true}"><span ng-class="{'fontfff':mark}">My Trip</span></div>
      
           
           <span ng-class="{'ion-navicon-round':!mark,'ion-close-round':mark,'fontfff':mark}"  style="position: absolute;top:0px;right:0px;font-size: 5rem;padding: 10px" ng-click="stop();"></span>
           <h1 class="footerFont"  ng-if="mark">New York Local</h1>
            <h1 class="headerFont" ng-if="mark"><img src="img/images.png" width="150x"></h1>
           <div id="nav" ng-if="mark">

           <div  ng-repeat="item in homeMenus" ng-class="{'hoverActive':hoverIndex==$index}" ng-mouseover="hoverIn($index)" ng-mouseout="hoverOut(6)" ng-click="linkTo($index)">
                  <div class="divback" ></div>
	<span ng-class="{'ion-thumbsup':$index==0,'ion-wineglass':$index==1,'ion-android-car':$index==3 ,'ion-ios-heart':$index==2, 'ion-ios-world':$index==4}" 
style="position:absolute;top:30%;left:50%;transform: translateX(-50%);font-size:3rem" ></span>                  
<div class="divfont"  >{{item.name}}</div>
           </div>

</div>


  </ion-content>
</ion-view>
