<ion-view > 


<ion-header-bar  class="bar-dark" style="height:50px;line-height:40px;font-size:25px;color:#fff">
       
  <div class="buttons">
    <span href="xxxxxxxxxxx" > Logo 



</span>&nbsp
        <span style="color:#fff;border-radius:50%;color:#F6F356;transform: scale(1.5); "  ui-sref="home.special" >特价



</span>&nbsp;
               <span style="color:#fff"  ui-sref="home.feature">特色</span>&nbsp;
        <span style="color:#fff" ui-sref="home.customer">订制</span>&nbsp;
        <span style="color:#fff" ui-sref="home.rentcar">租车</span>&nbsp;
        <span style="color:#fff" href="xxxxxxxxxxx">横跨国家</span>&nbsp;
  </div>
  <h1 class="title" style='font-family: "Merienda One" !important'>New York Locate</h1>
  <div class="buttons">
    <span style="color:#fff" href="xxxxxxxxxxx">注 册</span>&nbsp;
        <span style="color:#fff" href="xxxxxxxxxxx">登 录</span>&nbsp;
  </div>
</ion-header-bar>



 <!-- <ion-nav-bar class="bar-dark" style="height:50px;line-height:35px;font-size:25px;color:#fff">
       
        <ion-nav-buttons side="left" >
        <span href="xxxxxxxxxxx" > Logo 



</span>&nbsp
        <span style="color:#fff;border-radius:50%;color:#F6F356;transform: scale(1.5); "  ui-sref="home.special" >特价



</span>&nbsp;
               <span style="color:#fff"  ui-sref="home.special">特色</span>&nbsp;
        <span style="color:#fff" href="xxxxxxxxxxx">订制</span>&nbsp;
        <span style="color:#fff" ui-sref="home.rentcar">租车</span>&nbsp;
        <span style="color:#fff" href="xxxxxxxxxxx">横跨国家</span>&nbsp;
        </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <span style="color:#fff" href="xxxxxxxxxxx">注 册</span>&nbsp;
        <span style="color:#fff" href="xxxxxxxxxxx">登 录</span>&nbsp;
    </ion-nav-buttons>
      
</ion-nav-bar> -->
<div style="height:100vh;position: relative;background:url('img/bg.jpg') no-repeat top left scroll; background-size:cover;">

           <label for="bubble4" class="bubble" style="left:{{item}}; animation: ascend {{bubble.showTime[$index]}}s {{bubble.delayTime[$index]}}s  linear  forwards infinite; bottom:{{bubble.bottom[$index]}};" ng-repeat="item in bubble.left">
     <span class="bubbleFont" style="transform: rotate({{bubble.p[$index]}}deg);color:{{bubble.fontColor[$index+1]}}">习要打夺</span>  
     <span class="bubble-inner bubbleC0" 
    style="box-shadow: -2px 4px 30px {{bubble.color[$index]}} inset;width:{{bubble.size[$index]}};height:{{bubble.size[$index]}};"><span>
          
   </label>

        
  </div>
  <div class="shade">
    <div class="blackboard">
        <div class="form">
            <p>
                
                 <input type="text" style="width:32%;background:#fff;float:left;margin-right:1%"/>
                 <input type="text" style="width:32%;background:#fff;float: left;margin-right:1%"/>
               <input type="text" style="width:32%;background:#fff;float: left"/>
               
            </p>
          
            <p>
                <label>Message:</label>
                <textarea style="width:100%;height:100%;background:#fff;"></textarea>
            </p>
            <p class="wipeout">
                <input type="submit" value="Send" />
            </p>
        </div>
    </div>
</div>

 

  </ion-content>

</ion-view>

