<ion-view > 


<ion-header-bar  class="bar-dark" style="height:50px;line-height:40px;font-size:25px;color:#fff">
       
  <div class="buttons">
    <span href="xxxxxxxxxxx" > Logo 



</span>&nbsp
        <span style="color:#fff;border-radius:50%;color:#F6F356;transform: scale(1.5); "  ui-sref="home.special" >特价



</span>&nbsp;
               <span style="color:#fff"  ui-sref="home.feature">特色</span>&nbsp;
        <span style="color:#fff" ui-sref="home.feature">订制</span>&nbsp;
        <span style="color:#fff" ui-sref="home.rentcar">租车</span>&nbsp;
        <span style="color:#fff" href="xxxxxxxxxxx">横跨国家</span>&nbsp;
  </div>
  <h1 class="title" style='font-family: "Merienda One" !important'>New York Locate</h1>
  <div class="buttons">
    <span style="color:#fff" href="xxxxxxxxxxx">注 册</span>&nbsp;
        <span style="color:#fff" href="xxxxxxxxxxx">登 录</span>&nbsp;
  </div>
</ion-header-bar>


<ion-content>
<!--       <div style="position:relative;width:100%;height:95vh;overflow:hidden;">
      <div style="position:absolute;width:100%;height:100%;background:url('{{item}}')
                ;background-size:cover;"
     class="efg anim_fade_image{{$index}}" ng-repeat="item in gallery track by $index">
      <h1 class="album"  data-scroll="toggle(.fromRightIn, .fromRightOut) addHeight once" style="position: absolute;width: 100%;top:30%;z-index: 9999999;color:#fff;text-align: center;">Journeys Worth Taking</h1>
       <h1 class="album ion-chevron-down" style="position: absolute;width: 100%;bottom:10%;z-index: 9999999;color:#fff;text-align: center;"></h1>
      </div>
    </div> -->
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
       <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>   <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>   <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>   <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>   <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>   <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>   <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
    <div class="wow  zoom-out" style="height:100px;background: red;"> ss</div><br/>
<!-- 
<div style="color:#fff;font-size:20px;margin:15px 0 10px 3%">
<span class="angleActiveRight ">美国旅游</span>   <span class="angleRight">加拿大旅游</span> <span class="angleRight">欧洲旅游</span></div>    
<div class="containerFlow">
  <div class="item">
    <img src="img/1.jpg" />
   
  </div>
  <div class="item wow album">
    <img src="img/2.jpg" />
   <div>test</div>
  </div>
  <div class="item album">
    <img src="img/3.jpg" />
   <div>test</div>
  </div>
  <div class="item album">
    <img src="img/3.jpg" />
   <div>test</div>
  </div>
    <div class="item album">
    <img src="img/3.jpg" />
   <div>test</div>
  </div>
</div>
 -->

</ion-view>

<script type="text/javascript">new WOW().init();</script>